<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div *ngIf="cartItem.length>0">
                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Product Image</th>
                        <th width="50%">Product Detail</th>
                    </tr>
                    <tr *ngFor="let cart of cartItem">
                        <td>
                            <img src="{{cart.imageUrl}}" class="img-responsive" width="150px">
                        </td>
                        <td>
                            <p>{{cart.name}}</p>
                            <p>{{cart.productPrice | currency : 'USD'}}</p>
                        </td>
                        <td>
                            <div class="items">
                                <label>Quantity:</label> {{cart.productCount}}
                                <div class="row no-gutters">
                                    <div class="col">
                                        <button (click)="incDecMethod(1, cart.name)" class="btn btn-primary btn-sm">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <button (click)="incDecMethod(0, cart.name)" class="btn btn-primary btn-sm"
                                            style="margin-left: 10px;">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button (click)="removeItem(cart)" style="margin-top: 5px;"
                                            class="btn btn-primary btn-sm">Remove</button>
                                    </div>
                                    <div class="col-8"></div>
                                </div>
                            </div>
                            <p class="mt-2">Subtotal: {{cart.productPrice*cart.productCount}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td style="font-weight: bold;">
                            <p>TotalQuantity: {{totalQuantity}}</p>
                            <p>Shipping: Free</p>
                            <p>TotalAmout: {{totalPrice}}</p>
                            <a routerLink="/checkout" style="margin-bottom: 10px; font-size: 20px;">Checkout</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div *ngIf="cartItem.length==0" class="alert alert-warning col-md-12" role="alert">
                <h3>Your Cart is empty...</h3>
            </div>
        </div>
    </div>
</div>